@model IEnumerable<ApostasApp.Core.Presentation.ViewModels.JogoViewModel>

@using ApostasApp.Core.Domain.Models.Jogos;
@using ApostasApp.Core.Domain.Models.Rodadas;



@{
    ViewData["Title"] = "Jogos da Rodada : " + TempData["Rodada"] + " do(a) : " + TempData["Campeonato"] + //" (CAMP/ROD CORRENTES)" +
                " - Número de Jogos :  " + TempData["NumJogos"];
}

<div class="barra-titulo">
    <h1>@ViewData["Title"]</h1>
</div>


<head>
    <link rel="stylesheet" href="~/css/cards-jogos.css" />
</head>

<div class="container-jogos">

   @foreach (var jogo in Model)
   {
      <div class="card-jogo">
        <div class="times">
            <div class="mandante">
                @if (jogo.EquipeCasa?.Equipe?.Escudo != null)
                {
                    <img src="/images/@jogo.EquipeCasa.Equipe.Escudo" alt="@jogo.EquipeCasa.Equipe.Nome" class="escudo-pequeno">
                }
                <span>@jogo.EquipeCasa?.Equipe?.Nome</span>
            </div>
            <span class="versus">X</span>
            <div class="visitante">
                @if (jogo.EquipeVisitante?.Equipe?.Escudo != null)
                {
                    <img src="/images/@jogo.EquipeVisitante.Equipe.Escudo" alt="@jogo.EquipeVisitante.Equipe.Nome" class="escudo-pequeno">
                }
                <span>@jogo.EquipeVisitante?.Equipe?.Nome</span>
            </div>
        </div>
        <div class="placar">
            @if (jogo.Status == StatusJogo.Finalizado || jogo.Status == StatusJogo.EmAndamento)
            {
                <span>@jogo.PlacarCasa - @jogo.PlacarVisita</span>
            }
            else
            {
                <span>-</span>
            }
        </div>

        <div class="data-hora-andamento">
            <span>(@jogo.DataJogo.ToString("dd MMM", new System.Globalization.CultureInfo("pt-BR"))</span>
            <span>@jogo.HoraJogo.ToString(@"hh\:mm"))</span>                  
        </div>

        <div class="status-jogo">
                  <span class="status-jogo">@jogo.Status</span>
        </div>

        <div class="estadio">
           <spam class="col-sm-4">Estádio:</spam>
           <spam class="col-sm-8">@jogo.Estadio.Nome</spam>
        </div>


        @if (User.Identity.IsAuthenticated && jogo.Rodada?.Status == StatusRodada.EmApostas)
        {
            <a href="/ListarApostasDaRodadaEmApostas/@jogo.RodadaId" class="btn-apostar">Apostar</a>
        }
    }

    </div>
   }

  </div> 


<div class="barra-inferior-cards-jogos">
    <a href="@Url.Action("ListarRodadasComRanking", "RankingRodada")" class="btn btn-primary">Voltar para Rodadas</a>
</div>

